alembic                       1.6.5
anytree                       2.8.0
asgiref                       3.2.10
asn1crypto                    0.24.0
async-generator               1.10
attrs                         21.2.0
backcall                      0.2.0
backports.functools-lru-cache 1.6.4
bleach                        4.1.0
certifi                       2021.5.30
certipy                       0.1.3
cffi                          1.12.3
chardet                       3.0.4
cnnclustering                 0.3.9
conda                         4.10.3
conda-package-handling        1.3.11
cryptography                  2.7
cycler                        0.10.0
Cython                        0.29.20
decorator                     5.0.9
defusedxml                    0.7.1
Django                        3.0.7
entrypoints                   0.3
faiss                         1.6.3
future                        0.18.2
fuzzywuzzy                    0.18.0
graphviz                      0.14
h5py                          2.10.0
hdbscan                       0.8.26
hnswlib                       0.3.4
idna                          2.8
image                         1.5.32
importlib-metadata            4.7.1
ipykernel                     5.5.5
ipython                       7.26.0
ipython-genutils              0.2.0
ipython-unittest              0.3.1
ipywidgets                    7.6.3
jedi                          0.18.0
Jinja2                        2.11.3
joblib                        0.15.1
json5                         0.9.5
jsonschema                    3.2.0
jupyter                       1.0.0
jupyter-client                7.0.1
jupyter-console               6.4.0
jupyter-core                  4.7.1
jupyterhub                    1.0.0
jupyterlab                    1.2.16
jupyterlab-server             1.1.5
jupyterlab-widgets            1.0.0
kiwisolver                    1.2.0
libarchive-c                  2.8
Mako                          1.1.5
MarkupSafe                    1.1.1
mat73                         0.40
matplotlib                    3.2.1
matplotlib-inline             0.1.2
mistune                       0.8.4
mkl-fft                       1.0.15
mkl-random                    1.1.0
mkl-service                   2.3.0
nbclient                      0.5.4
nbconvert                     5.6.1
nbformat                      5.1.3
nbgitpuller                   0.7.2
nbgrader                      0.6.1
nbresuse                      0.3.4
nest-asyncio                  1.5.1
ngt                           1.11.6
notebook                      6.0.3
nteract-on-jupyter            2.1.3
numpy                         1.18.5
oauthlib                      3.1.0
opencv-python                 4.2.0.34
packaging                     21.0
pamela                        1.0.0
pandas                        1.0.3
pandocfilters                 1.4.2
parso                         0.8.2
pexpect                       4.8.0
pickle5                       0.0.10
pickleshare                   0.7.5
Pillow                        7.1.2
pip                           21.2.4
prometheus-client             0.11.0
prompt-toolkit                3.0.20
ptyprocess                    0.7.0
pybind11                      2.5.0
pycosat                       0.6.3
pycparser                     2.19
pyflann                       1.6.14
pyflann-py3                   0.1.0
Pygments                      2.10.0
pyOpenSSL                     19.0.0
pyparsing                     2.4.7
pyrsistent                    0.17.3
PySocks                       1.7.0
python-dateutil               2.8.1
python-editor                 1.0.4
python-Levenshtein            0.12.2
pytz                          2020.1
PyYAML                        5.3.1
pyzmq                         19.0.2
qtconsole                     5.1.1
QtPy                          1.10.0
requests                      2.22.0
ruamel_yaml                   0.15.46
scikit-learn                  0.22.1
scipy                         1.4.1
seaborn                       0.10.1
Send2Trash                    1.8.0
setuptools                    41.0.1
six                           1.12.0
SQLAlchemy                    1.3.17
sqlparse                      0.3.1
terminado                     0.11.1
testbook                      0.4.2
testpath                      0.5.0
tornado                       6.0.4
tqdm                          4.46.1
traitlets                     5.0.5
treelib                       1.6.1
typing-extensions             3.10.0.0
urllib3                       1.24.2
wcwidth                       0.2.5
webencodings                  0.5.1
wheel                         0.33.4
widgetsnbextension            3.5.1
zipp                          3.5.0
WARNING: You are us